[default]
secret_key = "<Secret>"
port = 8000

[default.databases.gacha_db]
url = "<DBConnString>"

[default.oauth.discord]
client_id = "<Discord Client Id>"
client_secret = "<Discord Client Secret>"
auth_url = "https://discord.com/oauth2/authorize"
token_url = "https://discord.com/api/oauth2/token"
revocation_url = "https://discord.com/api/oauth2/token/revoke"
redirect_url = "http://localhost:8080"
token_secret = "<Secret>"